@page
@model ContosoHR.Pages.AuditEvents.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Audit Events</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuditEvents[0].TimeStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditEvents[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditEvents[0].Query)
            </th>
            <th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AuditEvents) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Query)
            </td>
            <td>
        </tr>
}
    </tbody>
</table>
